.axis text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    text-anchor: end;
    border: none;
}
.axis path{
    fill:none;
    stroke:black;
    stroke-width: 0.5px;
    shape-rendering: crispEdges;
}
.textlabel{
    font-family: Helvetica, Arial, sans-serif;
    font-size:15px;
    text-anchor: middle;
}

.bar {
  fill: lightblue;

}

.bar:hover {
  fill: #e9fe14 ;
}

.x.axis path {
  display: none;
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

body{
    background-color: beige;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

tr [colspan="2"] {
    text-align: center;
}

#title {
    font-size: 20px;
    font-weight: bold;
    color: #332100;
    
}

.labelGraph{
    font-size: 50px;
    font-weight: bold;
    fill: #332100;
}

#refugeesTable{
    border: solid;
}
th{
    border-bottom: solid;
}

.top-buffer{
    margin-top: 50px;
}

