.axis text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-anchor: end;
}
.axis path{
    fill:none;
    stroke:black;
    stroke-width: 0.5px;
    shape-rendering: crispEdges;
}
.bar{
    stroke: none;
    fill: #C0C0C0 ;
}
.textlabel{
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    text-anchor: middle;
}